<?xml version="1.0" encoding="utf-8"?><?xml-stylesheet type="text/css" href="style.css"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">	
<head>
  <title>Witold Firlej :: photography</title>
  <meta name="GENERATOR" content="galeria.firlejorg generator + vim" />
  <meta name="AUTHOR" content="Witold Firlej" />
  <link rel="stylesheet" href="style.css" type="text/css" media="screen" />

</head>
<body>
	<div id="content">
		<div id="inner">
			<p><a href="." alt="home"><img src="logo.png" alt="home" /></a></p>
			<p><a href="intro.jpg" alt="home"><img src="thumb.jpg" alt="home" /></a>
				<a href="intro.jpg" alt="home"><img src="thumb.jpg" alt="home" /></a>
				<a href="intro.jpg" alt="home"><img src="thumb.jpg" alt="home" /></a>
				<a href="intro.jpg" alt="home"><img src="thumb.jpg" alt="home" /></a>
				<a href="intro.jpg" alt="home"><img src="thumb.jpg" alt="home" /></a></p>
			<p><a href="intro.jpg" alt="home"><img src="thumb.jpg" alt="home" /></a>
				<a href="intro.jpg" alt="home"><img src="thumb.jpg" alt="home" /></a>
				<a href="intro.jpg" alt="home"><img src="thumb.jpg" alt="home" /></a>
				<a href="intro.jpg" alt="home"><img src="thumb.jpg" alt="home" /></a>
				<a href="intro.jpg" alt="home"><img src="thumb.jpg" alt="home" /></a></p>
			<p id="albumlinks"><a href="landscape.html">Landscape</a> || <a href="urban.html">Urban &amp; Architecture</a>  || <a href="fauna.html">Fauna</a></p>
		</div>
		<div id="footer">
			<p><a href="http://grizz.pl">http://grizz.pl/</a></p>
		</div>
	</div>


</body>
</html>
